<div class="container-fluid">
  <div class="card shadow">
    <div class="card-header p-3 bg-color">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h5 class="text-white">Liste des salles de classes</h5>
        </div>
        <div *ngIf="can('creer salle')">
          <button (click)="openCreateModal()" mat-mini-fab color="default">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="my-2">
        <input type="text" nzSize="large" (input)="search()" nz-input placeholder="numéro de salle"  [(ngModel)]="searchValue"/>
      </div>
      <nz-table nzTableLayout="fixed"
        [nzLoading]="isLoad"
        nzShowSizeChanger
        [nzPageSize]="5"
        #basicTable
        [nzData]="listOfDisplayData"
        [nzBordered]="true"
      >
        <thead>
          <tr>
            <th>Nom</th>
            <th>Numéro</th>
            <th>capacité</th>
            <th *ngIf="isSuperAdmin()">Département</th>
            <th>Batiment</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <ng-container *ngIf="data.name != null; else noName">
                {{ data.name }}
              </ng-container>
              <ng-template #noName>
                <nz-tag [nzColor]="'red'">Non défini</nz-tag>
              </ng-template>
            </td>
            <td>{{ data.number }}</td>
            <td>{{ data.capacity }}</td>
            <td *ngIf="isSuperAdmin()">{{ data.departement.name }}</td>
            <td>{{ data.batiment.name }}</td>
            <td>
              <div class="d-flex justify-content-center">
                <div *ngIf="can('modifier salle')">
                  <button
                    nz-button
                    nzType="primary"
                    nzShape="circle"
                    (click)="openEditModal(data)"
                  >
                   <i nz-icon nzType="edit"></i>
                  </button>
                </div>
                <div *ngIf="can('supprimer salle')" class="mx-3">
                  <button
                    nzDanger
                    nz-button
                    nzType="primary"
                    nzShape="circle"
                    (click)="openDeleteModal(data)">
                    <i nz-icon nzType="delete"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
