table {
    width: 100%;
}

.bg-color {
    background-color: #41729f;
    color: white;
}

.badger-danger {
    border-radius: 5px;
    border: 1px white;
    background-color: rgb(211, 13, 13);
    color: white;
    padding: 3px;
}
