<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-5 col-sm-5 col-xs-12 border shadow login-left">
      <div style="width: 30em">
        <div class="text-center">
          <h2 class="txt-primary">GPET</h2>
          <p class="card-category txt-primary">Connectez-vous!</p>
        </div>
        <div class="my-3 mx-5">
          <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-control nzErrorTip="Donner votre email!">
                <nz-form-label [nzSpan]="24" class="text-white" nzFor="email">Adresse email</nz-form-label>
                <input nzSize="large" type="email" nz-input formControlName="email" id="email"
                  placeholder="Adresse email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Donner votre mot de passe!">
                <nz-form-label [nzSpan]="24" class="text-white" nzFor="password">Mot de passe</nz-form-label>
                <input nzSize="large" autocomplete="off" type="password" nz-input formControlName="password"
                  id="password" placeholder="Password" />
              </nz-form-control>
            </nz-form-item>
            <div class="d-flex my-3 justify-content-between align-items-center">
              <div>
                <button nz-button (click)="login()" [nzLoading]="isLoad" class="bg" [disabled]="!validateForm.valid">
                  Se connecter
                </button>

              </div>
              <div>
                <a class="txt-primary" routerLink="/forgot-password">Mot de passe oublié?</a>
              </div>
            </div>
            <div class="text-center">
              <span class="version">Version {{ version }}</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="/assets/img/login.svg" alt="LOGIN" />
    </div>
  </div>
