.frame {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 246, 246);
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    border: 8px solid #932aad;
    /* Light grey */
    border-top: 8px solid white;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bg {
    background-color: #41729F;
    color: white;
}

.input {
    border-radius: 10px;
}