<div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden">
    <h4 class="text-[#1d39c4] font-bold m-3">Emplois du temps</h4>
    <div>
        <nz-table [nzOuterBordered]="true" [nzSize]="'middle'" class="scroll-table p-0 border mb-3 mx-3"
            nzShowPagination="false" nzBordered="true" #presentionEPT [nzData]="data" [nzLoading]="dataLoad">
            <thead>
                <tr>
                    @for (item of days; track item) {
                        <th [nzAlign]="'center'" class="text-center">
                            {{ item.name.toUpperCase() }}
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (ept of presentionEPT.data; track ept) {
                    <td>
                        @if (ept.data.length != 0) {
                            @for (row of ept.data; track row; let index = $index; let isFirst = $first; let isLast = $last) {
                                <div class="border rounded-lg p-4 text-center m-3">
                                    {{ row.course.name.toLocaleUpperCase() }} <br />
                                    <nz-divider nzText="{{ pipeHours(row.start) }} À {{
                                      pipeHours(row.end)
                                    }}"></nz-divider>
                                    <div class="flex items-center justify-between">
                                        <div class="flex-1 text-start">
                                            Classe:
                                        </div>
                                        <div class="flex-1 text-end">
                                            {{ row.classe.name }}
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <div class="flex-1 text-start">
                                            Salle:
                                        </div>
                                        <div class="flex-1 text-end">
                                            {{ row.salle ? row.salle.name : 'Indefinie' }}
                                        </div>
                                    </div>
                                </div>
                            }
                        } @else {
                            <div class="border rounded-lg p-4 text-center m-3 min-h-[30px]">
                                <span class="font-bold">Temps libre</span>
                            </div>
                        }
                    </td>
                }
            </tbody>
        </nz-table>
    </div>
</div>
