@if (!allIsLoad) {
<div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6">
    <nz-tabset>
        @for (item of roles; track item) {
        <nz-tab (nzSelect)="tabChange(item)" [nzTitle]="item.name.toUpperCase()">
            <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6">

                <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6 m-2">
                    <div class="flex justify-start items-center">
                        <div class="m-2">
                            <button (click)="openCreateModal(item)" mat-mini-fab color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                        </div>
                        <div>
                            <h4>Ajouter une permission.</h4>
                        </div>
                    </div>
                </div>
                <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6">
                    <nz-table [nzLoading]="isLoad" nzTableLayout="fixed" #basicTable [nzData]="listOfDisplayData">
                        <thead>
                            <th class="text-start">
                                PERMISSION
                            </th>

                            <th class="text-end">
                                ACTIONS
                            </th>
                        </thead>
                        <tbody>
                            @for (data of basicTable.data; track data) {
                            <tr>
                                <td>
                                    {{ data.name.toUpperCase() }}
                                </td>
                                <td>
                                    <div class="flex justify-end items-center">
                                        <div>
                                            <button nz-popconfirm nzPopconfirmTitle="Confirmer votre action." (nzOnConfirm)="deletePermissionForRole(data, item)" class="shadow-sm" mat-mini-fab [color]="'warn'">
                                                <mat-icon class="mat-18">delete</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </nz-tab>
        }
    </nz-tabset>
</div>
} @else {
<div class="bg-white rounded-xl shadow-lg overflow-hidden">
    <div class="p-6">
        <nz-skeleton [nzActive]="true"></nz-skeleton>
        <nz-skeleton [nzActive]="true"></nz-skeleton>
        <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
</div>
}
