<div class="card">
    <div class="card-header p-3 bg-color">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h5 class="text-white">Liste des professeurs</h5>
            </div>
            <div>
                <button mat-mini-fab color="default">
    <mat-icon>add</mat-icon>
  </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <nz-table [nzLoading]="isLoad" nzShowPagination [nzPageSize]="2" #basicTable [nzData]="classes">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Nombre d'étudiants</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.name }}</td>
                    <td class="text-center">{{ data.nb_students }}</td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <div>
                                <a [routerLink]='["show/" + data.id]'>
                                    <button mat-mini-fab color="primary">
                      <mat-icon>visibility</mat-icon>
                    </button>
                                </a>
                            </div>
                            <div class="mx-3">
                                <button mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                  </button>
                            </div>
                            <div>
                                <button mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>