<div class="card shadow">
    <div class="card-header p-3 bg-color">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h5 class="text-white">Liste des classes</h5>
            </div>
            <div *ngIf="can('creer classe') && !setView">
                <button mat-mini-fab color="default" (click)="openCreateModal()">
          <mat-icon>add</mat-icon>
        </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <nz-table [nzLoading]="isLoad" nzShowPagination [nzPageSize]="4" #basicTable [nzData]="classes">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Nombre d'étudiants</th>
                    <th class="text-center">Nombre de cours</th>
                    <th class="text-center" *ngIf="classeService.isSuperAdmin()">Département</th>
                    <th class="text-center" *ngIf="!setView">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.name }}</td>
                    <td class="text-center">{{ data.nb_students }}</td>
                    <td class="text-center">{{ data.courses.length }}</td>
                    <td *ngIf="classeService.isSuperAdmin()">{{ data.departement.name }}</td>
                    <td class="text-center" *ngIf="!setView">
                        <div class="d-flex justify-content-center">
                            <div *ngIf="can('voir salle')">
                                <a [routerLink]="['show/' + data.id]">
                                    <button mat-mini-fab color="primary">
                    <mat-icon>visibility</mat-icon>
                  </button>
                                </a>
                            </div>
                            <div class="mx-3" *ngIf="can('modifier classe')">
                                <button mat-mini-fab color="accent" (click)="openEditModal(data)">
                  <mat-icon>edit</mat-icon>
                </button>
                            </div>
                            <div *ngIf="can('supprimer classe')">
                                <button mat-mini-fab color="warn" (click)="openDeleteModal(data)">
                  <mat-icon>delete</mat-icon>
                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>