.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

[nz-menu] {
    line-height: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    padding: 0 50px;
}

nz-footer {
    text-align: center;
}

.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
    height: 80vh;
}

// --------------------------------------------------
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$color1: #75789c;
$color2: #6184a5;
$color3: #41729f;
body {
    background-color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 200px;
    height: 200px;
}

svg {
    width: 90%;
    fill: none;
}

.load {
    transform-origin: 50% 50%;
    stroke-dasharray: 570;
    stroke-width: 20px;
    &.one {
        stroke: $color3;
        animation: load 1.5s infinite;
    }
    &.two {
        stroke: $color2;
        animation: load 1.5s infinite;
        animation-delay: 0.1s;
    }
    &.three {
        stroke: $color1;
        animation: load 1.5s infinite;
        animation-delay: 0.2s;
    }
}

.point {
    animation: bounce 1s infinite ease-in-out;
    &.one {
        fill: $color1;
        animation-delay: 0s;
    }
    &.two {
        fill: $color2;
        animation-delay: 0.1s;
    }
    &.three {
        fill: $color3;
        animation-delay: 0.2s;
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes load {
    0% {
        stroke-dashoffset: 570;
    }
    50% {
        stroke-dashoffset: 530;
    }
    100% {
        stroke-dashoffset: 570;
        transform: rotate(360deg);
    }
}