<ng-container *ngIf="!dataLoad; else elseTemplate">
    <nz-layout>
        <nz-header>
            <div class="text-white"><b>GPET</b> - DEPARTEMENT {{ departement.name | uppercase }}</div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>Jibi<span class="text-primary">z</span> Design ©2020 Implement By Jibiz tech</nz-footer>
    </nz-layout>
</ng-container>
<ng-template #elseTemplate>
    <div class="center">
        <div class="loader">
            <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="load one" cx="60" cy="60" r="40" />
        <circle class="load two" cx="60" cy="60" r="40" />
        <circle class="load three" cx="60" cy="60" r="40" />
        <g>
          <circle class="point one" cx="45" cy="70" r="5" />
          <circle class="point two" cx="60" cy="70" r="5" />
          <circle class="point three" cx="75" cy="70" r="5" />
        </g>
      </svg>
        </div>
        <div class="h6 text-center">GPET UFRSET</div>
    </div>
</ng-template>