/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scroll-table {
    overflow: auto;
    white-space: nowrap;
}

table {
    width: 100%;
}

.table-header-color {
    background-color: #41729f;
    color: white;
}