// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins";
}

html,
body {
    height: 100%;
    font-family: "Poppins";
}

body {
    margin: 0;
    font-family: Poppins, "Helvetica Neue", sans-serif;
}

.scroll-table {
    overflow: auto;
    white-space: nowrap;
}

table {
    width: 100%;
}

.table-header-color {
    background-color: #41729f;
    color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card {
    border: none !important;
    border-radius: 10px !important;
}

@media screen and (min-with: 575px) {
    .mt-xs-3 {
        margin: 1em 0;
    }
}

@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

@include igx-core();
@include igx-typography($font-family: $material-typeface,
$type-scale: $material-type-scale);
@include igx-theme($default-palette);
.bold {
    font-weight: bold;
}

.mat-18 {
    font-size: 18px;
}

.mat-24 {
    font-size: 24px;
}

.mat-30 {
    font-size: 30px;
}

.color-purple {
    color: purple;
}

.color-geekblue {
    color: #1d39c4;
}

.color-orange {
    color: #d46b08;
}

.color-volcano {
    color: #d4380d;
}

.color-default {
    color: #eee;
}

.color-green {
    color: #389e0d;
}

.color-red {
    color: #cf1322;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}