<nz-layout *ngIf="!isLoad; else loadingTemplate" class="app-layout">
    <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="#" target="_blank">
                <img src="/assets/img/logo.jpg" alt="logo">
                <h1>UFR SET GPET</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li (click)="routerLink(item)" *ngFor="let item of menuItems" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? item.title : ''" [nzSelected]='selected(item)'>
                <i nz-icon>
          <mat-icon style="color:  #41729f;
          ">{{ item.icon }}</mat-icon>
        </i>
                <span>{{ item.title }}</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
<ng-template #loadingTemplate>
    <div class="center">
        <div class="loader">
            <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="load one" cx="60" cy="60" r="40" />
        <circle class="load two" cx="60" cy="60" r="40" />
        <circle class="load three" cx="60" cy="60" r="40" />
        <g>
          <circle class="point one" cx="45" cy="70" r="5" />
          <circle class="point two" cx="60" cy="70" r="5" />
          <circle class="point three" cx="75" cy="70" r="5" />
        </g>
      </svg>
        </div>
    </div>
</ng-template>