<div>
    <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div class="row">

            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="classe_id">Classe</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner la classe">
                        <nz-select [nzLoading]="isLoadClasse" formControlName="classe_id" [(ngModel)]="course.classe_id">
                            <ng-container *ngFor="let o of classes">
                                <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                            </ng-container>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzFor="professor_id">Professeur</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner le prof">
                        <nz-select nzPlaceHolder="Rechercher un professeur" nzAllowClear nzShowSearch nzServerSearch [(ngModel)]="course.professor_id" formControlName="professor_id" (nzOnSearch)="onProSearch($event)">
                            <ng-container *ngFor="let o of professors">
                                <nz-option *ngIf="!profLoad" [nzValue]="o.id" [nzLabel]="
                    '#' +
                    o.registration_number +
                    ' - ' +
                    o.first_name +
                    o.last_name
                  "></nz-option>
                            </ng-container>
                            <nz-option *ngIf="profLoad" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Rechercher en cours...
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="service_id">Service</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner le service">
                        <nz-select [nzLoading]="isLoad" formControlName="service_id" [(ngModel)]="course.service_id">
                            <ng-container *ngFor="let o of services">
                                <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                            </ng-container>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzFor="montant">Montant Horaire</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le groupe est requi">
                        <input disabled [value]="serviceAmout(course.service_id)" nz-input />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="ec_id">EC</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner le eu">
                        <nz-select [nzNotFoundContent]="addEC" nzPlaceHolder="Rechercher un EC" nzAllowClear nzShowSearch nzServerSearch [(ngModel)]="course.ec_id" formControlName="ec_id" (nzOnSearch)="onECSearch($event)">
                            <ng-container *ngFor="let o of ecs">
                                <nz-option *ngIf="!ecLoad" [nzValue]="o.id" [nzLabel]="'#' + o.code + ' - ' + o.name"></nz-option>
                            </ng-container>
                            <nz-option *ngIf="ecLoad" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Rechercher en cours...
                            </nz-option>
                        </nz-select>
                        <ng-template #addEC>
                            <button nz-button nzType="primary" (click)="addEc()">
                Nouveau EC
              </button>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-4">
                <nz-form-item>
                    <nz-form-label nzFor="groupe_number">Nombre de groupe</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le groupe est requi">
                        <input [(ngModel)]="course.groupe_number" formControlName="groupe_number" nz-input name="groupe_number" type="number" id="groupe_number" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-4">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="departement_id">Département</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner le département">
                        <nz-select [nzDisabled]="!courseService.isAdmin()" [nzLoading]="isLoad" formControlName="departement_id" [(ngModel)]="course.departement_id">
                            <ng-container *ngFor="let o of departements">
                                <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                            </ng-container>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </nz-form>
</div>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal(null)">
    Annuler
  </button>
    <button nz-button nzType="primary" (click)="save()" [disabled]="!validateForm.valid" [nzLoading]="isLoad">
    Ajouter
  </button>
</div>