@if (!isLoad && !hasError) {
    <div class="center">
        <div id="presentionEPT" style="width: 100% !important;">
            <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6 text-center">
                <div>
                    <span>REPUBLIQUE DU SENEGAL <br>
                        Un Peuple Un But Une Foi</span>
                </div>
                <img src="assets/img/logo.jpg" class="logo" alt="UIDT">
                <span class="text-center">
                    UNITE DE FORMATION ET DE RECHERCHE <br>
                    EN SCIENCES ET TECHNOLOGIES <br>
                    {{ departement}} - {{ classe }}
                </span>
                <h3>{{ classe.name }}</h3> {{ now | date:'EEEE d MMMM y'}}
            </div>
            <nz-table [nzOuterBordered]="true" [nzSize]="'middle'" class="p-0 border border-gray-100 mb-3 mx-3" nzShowPagination="false" nzBordered="true" #presentionEPT [nzData]="epts">
                <thead class="bg-primary">
                    <tr>
                        @for (item of days; track item) {
                            <th [nzAlign]="'center'" class="text-center">{{ item.name.toUpperCase() }}</th>
                        }
                    </tr>
                </thead>
                <tbody class="table-body">
                    @for (item of presentionEPT.data; track item) {
                        <div>
                            @if (item.data.length != 0) {
                                @for (row of item.data; track row; let isLast = $last) {
                                    <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6 text-center m-3">
                                        {{ row.course.name.toLocaleUpperCase() }} <br>
                                        <nz-divider nzText="{{ pipeHours(row.start )}} A {{ pipeHours(row.end) }}"></nz-divider>
                                        <div class="flex items-center justify-between">
                                            <div>Prof</div>
                                            <div>M. {{ row.course.professor.last_name }}</div>
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <div>Salle</div>
                                            <div>{{ row?.salle?.name }}</div>
                                        </div>
                                        @if (!isLast) {
                                            <nz-divider></nz-divider>
                                        }
                                    </div>
                                }
                            } @else {
                                <div class="bg-white rounded-xl shadow-sm m-3 text-center">
                                    <span>LIBRE</span>
                                </div>
                            }
                        </div>
                    }
                </tbody>
            </nz-table>
        </div>
    </div>
}
@if (isLoad && !hasError) {
    <app-load></app-load>
}
@if (hasError && !isLoad) {
    <div class="center">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Erreur</h4>
            Impossible de recuper le contenu de la page!
        </div>
    </div>
}
