<div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden">
    <div class="bg-gradient-to-r from-[#1890ff] to-[#096dd9] px-6 py-4">
        <h3 class="text-white font-semibold text-lg m-0">Ressources de vos cours</h3>
    </div>
    <div class="p-6 mx-5">
        <div class="flex justify-between items-start">
            <nz-input-group nzSize="large" [nzPrefix]="preffixIcon" [nzSuffix]="searchLoad ? suffixIcon :  ''">
                <input [nzSize]="'large'" placeholder="Rechercher vos cours" nz-input [(ngModel)]="inputValue"
                    (ngModelChange)="itemSelected($event)" (input)="onSearch($event)" [nzAutocomplete]="auto" />
            </nz-input-group>
            <ng-template #suffixIcon>
                <i nz-icon nzType="loading" nzTheme="outline"></i>
            </ng-template>
            <ng-template #preffixIcon>
                <i nz-icon nzType="search"></i>
            </ng-template>
            <nz-autocomplete #auto>
                @for (option of options; track option) {
                    <nz-auto-option [nzValue]="option.id" [nzLabel]="option.name">
                        <div class="flex justify-between items-center">
                            <div>
                                <span>{{ option.name }}</span>
                            </div>
                            <div>
                                <span>{{ option.classe.name }}</span>
                            </div>
                        </div>
                    </nz-auto-option>
                }
            </nz-autocomplete>
        </div>
        <br>
        <div>
            @if (selectedCourse) {
                <div class="flex flex-col items-center">
                    <h3 class="font-semibold text-lg m-0">{{ selectedCourse.classe.name }} <br><br> {{ selectedCourse.name }}</h3>
                    <nz-upload nzType="drag" [nzMultiple]="true"
                        [nzAction]="upload"
                        [nzFileList]="fileList"
                        (nzChange)="handleChange($event)">
                        <p class="ant-upload-drag-icon">
                            <i nz-icon nzType="inbox"></i>
                        </p>
                        <p class="ant-upload-text">Cliquez ou faites glisser le fichier dans cette zone pour le
                            telecharger</p>
                        <p class="ant-upload-hint">
                            Prise en charge d'un telechargement unique ou en masse. Interdiction stricte de
                            telecharger des donnees d'entreprise ou d'autres fichiers de bande.
                        </p>
                    </nz-upload>
                </div>
            } @else {
                <div class="flex flex-col items-center">
                    <img src="/assets/img/upload.gif" alt="IMAGE GIF" class="w-[250px]">
                    <h3 class="font-semibold text-lg m-0">Rechercher un cours et uploader les ressources.</h3>
                </div>
            }
        </div>
    </div>
</div>
