<div>
    <div class="card shadow-sm">
        <div class="card-header p-3 bg-color">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="text-white">Liste des cours</h5>
                </div>
                <div>
                    <button (click)="openCreateModal()" mat-mini-fab color="default">
            <mat-icon>add</mat-icon>
          </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <nz-table class="scroll-table" [nzLoading]="isLoad" nzShowPagination [nzPageSize]="4" #basicTable [nzData]="courses">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Intitulé</th>
                        <th>Département</th>
                        <th>Groupe</th>
                        <th>Service</th>
                        <th>Semestre</th>
                        <th>Classe</th>
                        <th>Professeur</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.acronym }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.departement.name }}</td>
                        <td>{{ data.groupe_number }}</td>
                        <td>{{ data.service.name }}</td>
                        <td>{{ data.semester.name }}</td>
                        <td>{{ data.classe.name }}</td>
                        <td>
                            <ng-container *ngIf="data.professor != null; else hasNotProf">
                                <a [routerLink]="['/admin/professeurs/show/' + data.professor.id]">
                  {{ data.professor.first_name }} {{ data.professor.last_name }}
                </a>
                            </ng-container>
                            <ng-template #hasNotProf>
                                <nz-tag [nzColor]="'red'" [innerText]="'Non définie'"></nz-tag>
                            </ng-template>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <div class="mx-3">
                                    <button (click)="selectedCourse = data; openEditModal()" mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                  </button>
                                </div>
                                <div>
                                    <button (click)="openDeleteModal(data)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<app-can-delete [erreurs]="courseService.canDeleteErreurs" [title]="courseService.canDeleteTitle" [subtitle]="courseService.canDeleteSubTitle" [visible]="canDeleteVisible" [message]="canDeleteMessage" (close)="onCanDeleteClose()"></app-can-delete>