<div class="max-w-4xl mx-2" id="presentionPayement">
    <div class="flex flex-col items-center">
        <div class="flex-1 text-center">
            <img src="/assets/img/logo.jpg" alt="LOGO UIDT" class="w-[60px] mx-auto">
            <div>
                UNIVERSITE DE THIES <br> UFR SCIENCES ET TECHONOLOGIES <br> {{ departement.name.toUpperCase() }}
            </div> <br> <br>
            <h6 class="font-bold">
                ETAT DES RELEVES DE VACATION {{ classe.name.toLocaleUpperCase() }}, {{ semester.name.toLocaleUpperCase() }} </h6>
                <h6>{{ date | date:'dd/M/y' }}</h6>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-start my-3">
        <div>
            <nz-list nzBordered>
                <nz-list-item>
                    <span nz-typography><b>PRENOM</b></span> {{ professor.first_name }}
                </nz-list-item>
                <nz-list-item>
                    <span nz-typography><b>NOM</b></span> {{ professor.last_name }}
                </nz-list-item>
                <nz-list-item>
                    <span nz-typography><b>UE</b></span> {{ course.ec.ue.code }} {{ course.ec.ue.name }}
                </nz-list-item>
                <nz-list-item>
                    <span nz-typography><b>EC</b></span> {{ course.ec.code }} {{ course.ec.name }}
                </nz-list-item>
                <nz-list-item>
                    <span nz-typography><b>SERVICE</b></span> {{ course.service.name}}
                </nz-list-item>
            </nz-list>
        </div>
        <div>
            <nz-list nzBordered>
                <nz-list-item>
                    <span nz-typography><b>NOM DE LA BANQUE</b></span> {{ professor.account.bank.name }}
                </nz-list-item>
                <nz-list-item>
                    <span nz-typography><b>RIB</b></span> {{ professor.account.rip }}
                </nz-list-item>
            </nz-list>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12">
            <div class="bg-white rounded-lg p-4 border border-gray-100">
                <table>
                    <thead>
                        <tr>
                            <td>
                                SERVICE
                            </td>
                            <td>TAUX HORAIRE</td>
                            <td>
                                NOMBRE D'HEURES
                            </td>
                            <td>MONTANT EN <b>FCFA</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold font-medium">{{ course.service.name }}</td>
                            <td class="font-bold font-medium">{{ course.service.amount }} FCFA</td>
                            <td class="font-bold font-medium">{{ courseDo.total_hours }} Heures</td>
                            <td class="font-bold font-medium"> {{ courseDo.total_sales }} FCFA </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center my-4 mb-5">
        <nz-divider nzText="Signature du Vacataire"></nz-divider>
    </div>
    <div class="flex justify-between my-3 mt-5">
        <div class="flex-1">
            Vu pour etablir etat de paie
        </div>
    </div>
    <div class="flex">
        <div class="flex-1">
            Certifie service fait
        </div>
    </div>
    <div class="flex my-3">
        <div class="flex-1 font-bold">
            LE CHEF DES SERVICES ADMINISTRATIFS
        </div>
        <div class="flex-1 font-bold">
            LE DIRECTEUR
        </div>
    </div>
</div>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">FERMER</button>
    <button nz-button nzType="primary" [nzLoading]="isLoad" (click)="print()">IMPRIMER LE DOCUMENT</button>
</div>
