<div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden">
    <div class="bg-gradient-to-r from-[#1890ff] to-[#096dd9] px-6 py-4">
        <div class="flex items-center justify-start">
            @if (can('creer semestre')) {
                <div class="mx-2">
                    <h5 class="text-white mx-2 inline-block text-lg font-semibold">Liste des banques</h5>
                </div>
            }
        </div>
    </div>
    <div class="p-6">
        <nz-table [nzLoading]="isLoad" nzShowSizeChanger [nzPageSizeOptions]="[5,10,20,30]" #basicTable [nzData]="banks" [nzBordered]="true">
            <thead>
                <tr class="text-center">
                    <th class="text-center">Code</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (data of basicTable.data; track data) {
                    <tr>
                        <td class="text-center">{{ data.code }}</td>
                        <td class="text-center">{{ data.name }}</td>
                        <td class="p-0">
                            <div class="flex justify-center">
                                @if (can('modifier salle')) {
                                    <div class="mx-3">
                                        <button nz-button nzType="primary" nzShape="circle" (click)="openEditModal(data)">
                                            <i nz-icon nzType="edit"></i>
                                        </button>
                                    </div>
                                }
                                @if (can('supprimer banque')) {
                                    <div class="mx-3">
                                        <button nzDanger nz-button nzType="primary" nzShape="circle" (click)="openDeleteModal(data)">
                                            <i nz-icon nzType="delete"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </nz-table>
    </div>
</div>
