<div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden">
    <div class="bg-gradient-to-r from-[#1890ff] to-[#096dd9] px-6 py-4">
        <div class="flex justify-between items-center">
            <div>
                <h5 class="text-white text-lg font-semibold">Liste des departement</h5>
            </div>
            @if (can('creer departement')) {
                <div>
                    <button (click)="openCreateModal()" mat-mini-fab color="default">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            }
        </div>
    </div>
    <div class="p-6">
        <nz-table
            [nzLoading]="isLoad"
            nzShowSizeChanger
            [nzPageSizeOptions]="[5, 10, 20, 30]"
            #basicTable
            [nzData]="departements"
            [nzBordered]="true"
        >
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Nombre de classes</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (data of basicTable.data; track data) {
                    <tr>
                        <td>{{ data.name }}</td>
                        <td class="text-center">{{ data.classes_count }}</td>
                        <td class="p-0">
                            <div class="flex justify-center">
                                <div class="mx-3">
                                    <a [routerLink]="['show/' + data.id]">
                                        <button nz-button nzShape="circle" class="color-orange">
                                            <i class="color" nz-icon nzType="eye"></i>
                                        </button>
                                    </a>
                                </div>
                                @if (can('modifier departement')) {
                                    <div class="mx-3">
                                        <button
                                            (click)="openEditModal(data)"
                                            nz-button
                                            nzType="primary"
                                            nzShape="circle"
                                        >
                                            <i nz-icon nzType="edit"></i>
                                        </button>
                                    </div>
                                }
                                @if (can('supprimer departement')) {
                                    <div class="mx-3">
                                        <button
                                            (click)="openDeleteModal(data)"
                                            nzDanger
                                            nz-button
                                            nzType="primary"
                                            nzShape="circle"
                                        >
                                            <i nz-icon nzType="delete"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </nz-table>
    </div>
</div>
