<div class="container">
    <div class="card shadow-sm">
        <div class="card-header p-3 bg-color">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="text-white">Liste des département</h5>
                </div>
                <div>
                    <button (click)="openCreateModal()" mat-mini-fab color="default">
            <mat-icon>add</mat-icon>
          </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <nz-table [nzLoading]="isLoad" nzShowPagination [nzPageSize]="4" #basicTable [nzData]="departements">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th class="text-center">Nombre de classes</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.name }}</td>
                        <td class="text-center">{{ data.classes.length }}</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <a [routerLink]='["show/" + data.id]'>
                                        <button mat-mini-fab color="primary">
                      <mat-icon>visibility</mat-icon>
                    </button>
                                    </a>
                                </div>
                                <div class="mx-3">
                                    <button (click)="openEditModal(data)" mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                  </button>
                                </div>
                                <div>
                                    <button (click)="openDeleteModal(data)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>