<nz-layout *ngIf="!isLoad; else loadingTemplate" class="app-layout">
    <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="260px" nzBreakpoint="md" [nzCollapsed]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <img src="/assets/img/logo.jpg" alt="logo" />
            <h6 *ngIf="!isCollapsed" class="color-geekblue">{{ title }}</h6>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="px-1">
            <ng-container *ngFor="let item of menuItems">
                <li class="sider-bar-item" (click)="routerLink(item)" *ngIf="canShowItem(item)" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? item.title : ''" [nzSelected]="selected(item)">
                    <i nz-icon>
            <mat-icon class="icon">{{ item.icon }}</mat-icon>
          </i>
                    <span class="label txt-primary">{{ item.title }}</span>
                </li>
            </ng-container>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="d-flex app-header justify-content-between align-items-center">
                <div>
                    <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
                </div>
                <span class="bold">{{ depTitle! }}</span>
                <div class="mx-3">
                    <a [routerLink]="['profile']" routerLinkActive="router-link-active" style="text-decoration: none">
                        <button mat-mini-fab color="primary" nzTrigger="click">
              <mat-icon>account_circle</mat-icon>
            </button>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item>
                                <a [routerLink]="['profile']" routerLinkActive="router-link-active">
                  Profile
                </a>
                            </li>
                            <li (click)="logout()" nz-menu-item>
                                <a> Déconnexion </a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <div class="bg-admin inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
<ng-template #loadingTemplate>
    <div class="center" style="flex-direction: column;">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:transparent;display:block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <g transform="translate(50 50) scale(0.8)">
          <g>
            <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" calcMode="spline"
              dur="1.7543859649122806s" values="0.8;0.5;0.8" keyTimes="0;0.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1">
            </animateTransform>
            <rect x="-45" y="-45" width="90" height="90" fill="#ffffff" stroke="#41729f" stroke-width="8"
              stroke-linejoin="round" rx="1" ry="1">
              <animate attributeName="rx" repeatCount="indefinite" dur="1.7543859649122806s" values="0;50;0"
                keyTimes="0;0.5;1"></animate>
              <animate attributeName="ry" repeatCount="indefinite" dur="1.7543859649122806s" values="0;50;0"
                keyTimes="0;0.5;1"></animate>
              <animate attributeName="stroke-width" repeatCount="indefinite" dur="1.7543859649122806s" values="8;12.8;8"
                keyTimes="0;0.5;1"></animate>
              <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite"
                dur="1.7543859649122806s" values="0 0 0;270 0 0;540 0 0" keyTimes="0;0.5;1" calcMode="spline"
                keySplines="0.5 0 0.5 1;0.5 0 0.5 1"></animateTransform>
            </rect>
          </g>
        </g>
      </svg>
        </div>
        <h4>Bienvenue sur <span class="bold">GPET</span>...</h4>
    </div>
</ng-template>