<div class="bg-white rounded-xl shadow-sm overflow-hidden p-6">

    <nz-divider [nzText]="p_t"></nz-divider>
    <ng-template #p_t>
        <h4 class="m-3">{{ user.first_name }} {{ user.last_name }}</h4>
        <button Center nz-button nzType="primary" class="bg" (click)="openModal()">
          Se Deconnecter
        </button>
    </ng-template>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
        <div>
            <div class="bg-white rounded-xl m-2 shadow-sm border border-gray-100 raduis-sm">
                <img [src]="user.avatar" class="user-avatar card-img-top" alt="" />
                @if (avatarLoad) {
                    <mat-progress-bar [mode]="'indeterminate'" color="primary"></mat-progress-bar>
                }
                <div class="flex justify-center my-3 btn-icon">
                    <div>
                        <button mat-fab color="basic" class="shadow-lg" (click)="image.click()">
              <mat-icon>edit</mat-icon>
              <form enctype="multipart/form-data">
                <input
                  #image
                  type="file"
                  nz-input
                  hidden
                  (change)="onChange($event)"
                />
              </form>
            </button>
                    </div>
                </div>
                <div class="p-6">
                    <h5 class="card-title text-lg font-semibold">
                        <br />
                        @if (user.departement != null) {
                            {{ user.departement.name }}
                        }
                    </h5>
                    <nz-divider nzText="Roles"></nz-divider>
                    <p class="card-text">
                        @for (item of roles; track item) {
                            <nz-tag nzType="default" nzColor="blue" nzMode="checkable">
                                {{ item.name }}
                            </nz-tag>
                        }
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6 m-2 raduis-sm">
                <nz-divider [nzText]="c_t">
                    <ng-template #c_t>
                        <h5 class="my-2 text-lg font-semibold">Change votre mot de passe</h5>
                    </ng-template>
                </nz-divider>
                <form nz-form [formGroup]="validateForm" class="login-form">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Mot de passe actuel requi!">
                            <nz-input-group nzPrefixIcon="unlock">
                                <input type="password" nz-input formControlName="password" placeholder="Mot de passe courrant" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Mot de passe requi!">
                            <nz-input-group nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="new_password" placeholder="Nouveau mot de passe" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Mot de passe requi!">
                            <nz-input-group nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="new_password_conf" placeholder="Confirmer le mot de passe" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button [disabled]="!validateForm.valid" class="login-form-button login-form-margin shadow-sm" [nzType]="'primary'" (click)="updatepassword()" [nzLoading]="isLoad">
            Valider
          </button>
                </form>
            </div>
        </div>
    </div>
</div>
