<ng-container *ngIf="!isLoad; else elseTemplate">
    <h2 class="text-primary">Dashboard</h2>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body shadow raduis-sm">
                <div class="d-flex align-items-center">
                    <div>
                        <mat-icon class="mat-30 mx-2 color-orange">groups</mat-icon>

                    </div>
                    <div>
                        <span class="h5 mx-3 color-orange">Professeurs</span>
                    </div>
                </div>
                <nz-divider class="my-1"></nz-divider>
                <div>
                    <h1 class="text-primary">{{ dashboard.professors }}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-body shadow raduis-sm">
                <div class="d-flex align-items-center">
                    <div>
                        <mat-icon class="mat-30 mx-2 color-green">maps_home_work</mat-icon>

                    </div>
                    <div>
                        <span class="h5 mx-3 color-green">Classes</span>
                    </div>
                </div>
                <nz-divider class="my-1"></nz-divider>
                <div>
                    <h1 class="text-primary">{{ dashboard.classes }}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-body shadow raduis-sm">
                <div class="d-flex align-items-center">
                    <div>
                        <mat-icon class="mat-30 mx-2 color-volcano">maps_home_work</mat-icon>
                    </div>
                    <div>
                        <span class="h5 mx-3 color-volcano">Salles</span>
                    </div>
                </div>
                <nz-divider class="my-1"></nz-divider>
                <div>
                    <h1 class="text-primary">{{ dashboard.salles }}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-body shadow raduis-sm">
                <div class="d-flex align-items-center">
                    <div>
                        <mat-icon class="mat-30 mx-2 color-geekblue">auto_stories</mat-icon>

                    </div>
                    <div>
                        <span class="h5 mx-3 color-geekblue">Cours</span>
                    </div>
                </div>
                <nz-divider class="my-1"></nz-divider>
                <div>
                    <h1 class="text-primary">{{ dashboard.courses }}</h1>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="container">
        <div class="card card-body shadow">
            <nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
            <br>
            <nz-skeleton [nzActive]="true"></nz-skeleton>
        </div>
    </div>
</ng-template>