<div>
    <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-tabset [nzType]="'card'">
            <nz-tab [nzTitle]="'Informations personnel'">

                <div class="row">
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="first_name">Prénom(s)</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                                <input [(ngModel)]="professor.first_name" formControlName="first_name" nz-input name="first_name" type="text" id="first_name">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="last_name">Nom</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24">
                                <input [(ngModel)]="professor.last_name" formControlName="last_name" nz-input name="last_name" type="text" id="last_name">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzFor="job">Métier</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                                <input [(ngModel)]="professor.job" formControlName="job" nz-input name="job" type="text" id="job">
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="status">Status</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24">
                                <input [(ngModel)]="professor.status" formControlName="status" nz-input name="status" type="text" id="status">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="email">Adresse email</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                                <input [(ngModel)]="professor.email" formControlName="email" nz-input name="email" type="email" nz-input id="email">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="phone_number">N° téléphone</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24">
                                <input [(ngModel)]="professor.phone_number" formControlName="phone_number" nz-input name="phone_number" type="text" id="phone_number">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="departement_id">Département</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner le département">
                                <nz-select [nzLoading]="isLoadData" formControlName="departement_id" [(ngModel)]="professor.departement_id">
                                    <ng-container *ngFor="let o of departements">
                                        <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                                    </ng-container>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-tab>
            <nz-tab [nzTitle]="'Informations bancaire'">
                <div class="row">
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="account_number">N° de compte</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                                <input [(ngModel)]="professor.account.account_number" formControlName="account_number" nz-input name="account_number" type="number" id="account_number">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="rip">RIP</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24">
                                <input [(ngModel)]="professor.account.rip" formControlName="rip" nz-input name="rip" type="number" id="rip">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="key">Clé</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="La clé est requi">
                                <input [(ngModel)]="professor.account.key" formControlName="key" nz-input name="key" type="text" id="key">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="bank_id">Banque</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner la banque">
                                <nz-select [nzLoading]="isLoadData" formControlName="bank_id" [(ngModel)]="professor.account.bank_id">
                                    <ng-container *ngFor="let o of banks">
                                        <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                                    </ng-container>

                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </nz-form>
</div>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal(null)">Annuler</button>
    <button nz-button nzType="primary" (click)="save()" [disabled]="!validateForm.valid" [nzLoading]="isLoad">Ajouter</button>
</div>