@if (!dataLoad && !errorNetWork) {
<div style="width: 100%">
  <div class="bg-white rounded-xl shadow-lg overflow-hidden">
    <div class="p-6">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12">
          <nz-page-header class="site-page-header" (nzBack)="onBack()" [nzBackIcon]="backTemp"
            nzTitle="{{ course.acronym }} - {{ course.name }}"></nz-page-header>
        </div>
        <ng-template #backTemp>
          <button class="m-2" mat-mini-fab color="primary">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </ng-template>
      </div>
      <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6">
              <nz-list nzBordered>
                <nz-list-item>
                  <span nz-typography><b>ID</b></span> {{ course.acronym }}
                </nz-list-item>
                <nz-list-item>
                  <span nz-typography><b>COURS</b></span> {{ course.name }}
                </nz-list-item>
                <nz-list-item>
                  <span nz-typography><b>VHT</b></span>
                  {{ course.ec.vht }} heures
                </nz-list-item>
              </nz-list>
            </div>
          </div>
          <div>
            <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6">
              <nz-list nzBordered>
                <nz-list-item>
                  <span nz-typography><b>PROF</b></span>
                  @if (course.professor) {
                    {{ course.professor.first_name }}
                    {{ course.professor.last_name.toUpperCase() }}
                  } @else {
                    <nz-tag nzColor="error">
                      <i nz-icon nzType="close-circle"></i>
                      <span>Non définie</span>
                    </nz-tag>
                  }
                </nz-list-item>
                <nz-list-item>
                  <span nz-typography><b>CLASSE</b></span>
                  {{ course.classe.name.toUpperCase() }}
                </nz-list-item>
                <nz-list-item>
                  <span nz-typography><b>SEMESTRE</b></span>
                  {{ course.semester.name.toUpperCase() }}
                </nz-list-item>
              </nz-list>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="max-w-7xl mx-auto">
        <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6">
          <nz-divider [nzText]="rs_title"></nz-divider>
          <ng-template #rs_title>
            <h3 class="font-semibold text-lg mt-0">Ressources assicies au cours.</h3>
          </ng-template>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            @for (item of course.media; track item) {
            <div class="my-1">
              <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden">
                <div class="p-6">
                  {{item.name}} ({{ item.mime_type }})
                </div>
                <div class="px-6 py-3 bg-gray-50 border-t border-gray-100">
                  <i nz-icon nzType="download" class="mr-2" nzTheme="outline"></i>
                  <a href="{{item.original_url}}" target="_blank" rel="noopener noreferrer" download="{{ item.name }}">{{ item.name }}</a>
                </div>
              </div>
            </div>
            }
          </div>
          <hr>
          <div class="flex justify-between items-center">
            <div>
              <h3 class="font-semibold text-lg mt-0">Syllabus du cours</h3>
            </div>
            <div>
              @if (course.syllabus == null) {
                <button (click)="openCreateModal()" mat-mini-fab color="default">
                  <mat-icon>add</mat-icon>
                </button>
              }
              @if (course.syllabus != null) {
                <button (click)="openEditModal()" mat-mini-fab color="default">
                  <mat-icon>edit</mat-icon>
                </button>
              }
            </div>
          </div>
          @if (course.syllabus) {
          <div class="p-6">
            <div [innerHtml]="course.syllabus.description"></div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
}

<ng-template #title2>
  <h3 class="font-semibold text-lg mt-5">Évolution des scéances</h3>
</ng-template>

@if (dataLoad && !errorNetWork) {
  <app-load></app-load>
}
@if (errorNetWork) {
  <app-error-server></app-error-server>
}
