<div *ngIf="!dataLoad && !errorNetWork" style="width: 100%">
  <div class="card shadow">
    <div class="card-body ">
      <div class="row">
        <div class="col-md-12">
          <nz-page-header class="site-page-header" (nzBack)="onBack()" [nzBackIcon]="backTemp"
            nzTitle="{{ course.acronym }} - {{ course.name }}"></nz-page-header>
        </div>
        <ng-template #backTemp>
          <button class="m-2" mat-mini-fab color="primary">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </ng-template>
      </div>
      <div class="container">
        <div class="row mt-2">
          <div class="row justify-content-between align-items-top">
            <div class="col-xm-5 col-md-6 my-1">
              <nz-card class="shadow-sm">
                <div class="row">
                  <div class="col-md-12 col-xs-12">
                    <nz-alert  nzType="info" nzMessage="Plus de détails" nzShowIcon></nz-alert><br>
                    <div class="my-2  h5">
                      <span class="list-item"> Professeur :</span>
                      <nz-tag [nzColor]="'gold'">{{ course.professor.first_name}} {{ course.professor.last_name}}
                      </nz-tag>
                    </div>
                    <div class="my-2  h5">
                      <span class="list-item">Classe :</span>
                      <nz-tag [nzColor]="'blue'" [innerText]="course.classe.name"></nz-tag>
                    </div>
                    <div class="my-2 h5">
                      <span class="list-item">Semestre :</span>
                      <nz-tag [nzColor]="'lime'">{{ course.semester.name }}</nz-tag>
                    </div>
                    <div class="my-2 h5">
                      <span class="list-item">UE :</span>
                      <nz-tag [nzColor]="'volcano'">{{ course.ec.ue.name }}</nz-tag>
                    </div>
                    <div class="my-2 h5">
                      <span class="list-item"> EC :</span>
                      <nz-tag [nzColor]="'purple'">{{ course.ec.name }}</nz-tag>
                    </div>
                    <div class="my-2  h5">
                      <span class="list-item">Groupe :</span>
                      <nz-tag [nzColor]="'gold'">
                        <ng-container *ngIf="course.groupe_number != 0; else manyGroup">
                          {{ course.groupe_number }}
                        </ng-container>
                        <ng-template #manyGroup>
                          Commun
                        </ng-template>
                      </nz-tag>
                    </div>
                    <div class="my-2  h5">
                      <span class="list-item">Service :</span>
                      <nz-tag [nzColor]="'blue'" [innerText]="course.service.name"></nz-tag>
                    </div>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template *ngIf="dataLoad && !errorNetWork">
  <div class="card">
    <div class="card-body">
      <div class="row m-3">
        <div class="col-md-6">
          <nz-skeleton [nzActive]="true"></nz-skeleton>
        </div>
        <div class="col-md-6">
          <nz-skeleton [nzActive]="true"></nz-skeleton>
        </div>
      </div>
      <div class="row mx-3">
        <div class="col-md-6">
          <nz-skeleton [nzActive]="true"></nz-skeleton>
        </div>
        <div class="col-md-6">
          <nz-skeleton [nzActive]="true"></nz-skeleton>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<app-error-server *ngIf="errorNetWork"></app-error-server>
