<div class="bg-white rounded-xl shadow-lg overflow-hidden">
  <div class="p-6">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12">
        <nz-page-header
          class="site-page-header"
          (nzBack)="onBack()"
          [nzBackIcon]="backTemp"
          nzTitle="Création du Syllabus"
        >
        </nz-page-header>
      </div>
      <ng-template #backTemp>
        <button class="m-2" mat-mini-fab color="primary">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </ng-template>
    </div>
    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-1 gap-4">
        <div>
          <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6">
            <textarea
              nz-input
              [nzAutosize]="{ minRows: 10, maxRows: 20 }"
              class="editor"
              [placeholder]="'Enter text here...'"
              [(ngModel)]="syllabus.description"
            ></textarea>

            <div class="algn-right">
              <button nz-button nzType="default"
              (click)="onBack()"
              [nzLoading]="isLoad"
              class="m-3">
                Annuler
              </button>
              <button
              nz-button
              nzType="primary"
              (click)="save()"
              [nzLoading]="isLoad">
                Ajouter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
