<!-- <div class="container">
  <header class="header">
    <h5>AngularEditor</h5>
  </header>
  <angular-editor
    class="editor"
    [placeholder]="'Enter text here...'"
    [(ngModel)]="syllabus.description"
  ></angular-editor>
  <div *nzModalFooter>
    <button nz-button nzType="default">Annuler</button>
    <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoad">
      Ajouter
    </button>
  </div>
</div> -->

<div class="card shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <header class="header">
            <h5>AngularEditor</h5>
          </header>
          <angular-editor
            class="editor"
            [placeholder]="'Enter text here...'"
            [(ngModel)]="syllabus.description"
          ></angular-editor>
        </div>
      </div>
    </div>
    <div class="container">
      <button nz-button nzType="default">Annuler</button>
      <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoad">
      Ajouter
    </button>
    </div>
  </div>
</div>
