<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12">
    <nz-page-header
    class="site-page-header"
    (nzBack)="onBack()"
    [nzBackIcon]="backTemp"
    nzTitle="Syllabus du cours {{ syllabus.course_id }}"
    >
  </nz-page-header>
  </div>
  <ng-template #backTemp>
    <button class="m-2" class="w-9 h-9 flex items-center justify-center rounded-full bg-primary text-white hover:bg-primary-dark transition-colors cursor-pointer">
      <app-icon name="arrow_back" />
    </button>
  </ng-template>
</div>

<div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden p-6">
  <textarea
    nz-input
    [nzAutosize]="{ minRows: 10, maxRows: 20 }"
    [placeholder]="this.syllabus.description"
    [(ngModel)]="syllabus.description"
  ></textarea>
</div>
