<div>
    <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="number">Numéro de la salle</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                        <input [(ngModel)]="salle.number" formControlName="number" nz-input name="number" type="number" id="number">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzFor="name">Nom de la salle</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24">
                        <input [(ngModel)]="salle.name" formControlName="name" nz-input name="name" type="text" id="name">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="departement_id">Batiment</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner le batiment">
                        <nz-select formControlName="batiment_id" [(ngModel)]="salle.batiment_id">

                            <ng-container *ngFor="let o of batiments">
                                <nz-option *ngIf="!isLoadData" [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                            </ng-container>
                            <nz-option nzLabel="{{ salle.batiment }}" nzValue="{{ salle.batiment_id }}" nzHide></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="departement_id">Département</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner le département">
                        <nz-select formControlName="departement_id" [(ngModel)]="salle.departement_id">

                            <ng-container *ngFor="let o of departements">
                                <nz-option *ngIf="!isLoadData" [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                            </ng-container>
                            <nz-option nzLabel="{{ salle.departement }}" nzValue="{{ salle.departement_id }}" nzHide></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <nz-form-item>
            <nz-form-label nzFor="capacity">Capacité</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="La capacité est requi">
                <input [(ngModel)]="salle.capacity" formControlName="capacity" value="0" nz-input name="capacity" type="number" id="capacity">
            </nz-form-control>
        </nz-form-item>
    </nz-form>
</div>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal(null)">Annuler</button>
    <button nz-button nzType="primary" (click)="save()" [disabled]="!validateForm.valid" [nzLoading]="isLoad">Ajouter</button>
</div>
