<div *ngIf="!dataLoad; else loadData">
    <!-- TOP -->
    <div class="card card-body mb-3">
        <div class="d-flex justify-content-between align-items-center ">
            <div>
                <nz-page-header class="site-page-header" (nzBack)="onBack()" [nzBackIcon]="backTemp" nzTitle="Précedent"></nz-page-header>
            </div>
            <div>
                <div class="mx-1">
                    <button mat-mini-fab class="edit-btn" (click)="openEditModal()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
            <ng-template #backTemp>
                <button class="m-2" mat-mini-fab color="primary">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </ng-template>
        </div>
        <ng-container *ngIf="!dataLoad && !errorServer">
            <!-- MIDDLE -->
            <div class="row">
                <div class="row justify-content-between align-items-top">
                    <div class="col-xm-8 col-md-6 my-1">
                        <nz-card class="border card" [nzCover]="coverTemplate">
                            <nz-tabset>
                                <nz-tab nzTitle="Personnel">
                                    <div class="mb-3">
                                        <nz-tag [nzColor]="'geekblue'">
                                            <i nz-icon nzType="audit" nzTheme="outline" class="mx-1"></i>{{ professeur.registration_number }}
                                        </nz-tag>
                                        {{ professeur.first_name }} {{ professeur.last_name }}
                                    </div>
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>Email</div>
                                        <div>
                                            <nz-tag [nzColor]="'geekblue'">{{ professeur.email }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>Date de naissance</div>
                                        <div>
                                            <nz-tag [nzColor]="'lime'">{{ professeur.born_at | date: "d MMMM y" }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>Lieu de naissance</div>
                                        <div>
                                            <nz-tag [nzColor]="'orange'">{{ professeur.born_in }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                </nz-tab>
                                <nz-tab nzTitle="Professionel">
                                    <div class="d-flex justify-content-between
                      align-items-center">
                                        <div>Département</div>
                                        <div>
                                            <nz-tag [nzColor]="'geekblue'">{{ professeur.departement.name }}
                                            </nz-tag>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between my-2
                      align-items-center">
                                        <div>Type</div>
                                        <div>
                                            <nz-tag [nzColor]="'geekblue'">{{ professeur.professor_type.name | uppercase }}
                                            </nz-tag>
                                        </div>
                                    </div>

                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>Status</div>
                                        <div>
                                            <nz-tag [nzColor]="'volcano'">{{ professeur.status }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>Métier</div>
                                        <div>
                                            <nz-tag [nzColor]="professeur.job == null ? 'red' : 'orange'" [innerText]="professeur.job ?? 'Non
                          définie'"></nz-tag>
                                        </div>
                                    </div>
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>Dérnier Diplôme</div>
                                        <div>
                                            <nz-tag [nzColor]="professeur.last_degree == null ?
                          'red' :
                          'magenta'" [innerText]="professeur.last_degree ?? 'Non
                          définie'"></nz-tag>
                                        </div>
                                    </div>
                                    <div class="d-flex my-1 justify-content-between
                      align-items-center">
                                        <div>En fonction</div>
                                        <div>
                                            <nz-tag [nzMode]="'checkable'" (click)="setAccountStatus()" [nzColor]="professeur.is_active ? 'green' : 'red'" [innerText]="professeur.is_active ? 'OUI' : 'NON'"></nz-tag>
                                        </div>
                                    </div>
                                </nz-tab>
                            </nz-tabset>
                        </nz-card>
                        <ng-template #coverTemplate>
                            <img class="user-avatar" [src]="userProfilePath()" />
                        </ng-template>
                        <mat-progress-bar *ngIf="updateStatusLoad" mode="indeterminate" color="primary">
                        </mat-progress-bar>
                    </div>
                    <div class="col-xm-5 col-md-6 my-1">
                        <nz-card class="border card">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <nz-alert nzType="info" nzMessage="Information du compte" nzShowIcon></nz-alert>
                                    <br />
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>Banque</div>
                                        <div>
                                            <nz-tag [nzColor]="'lime'">{{ professeur.account.bank.name }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>Code de la banque</div>
                                        <div>
                                            <nz-tag [nzColor]="'volcano'">{{ professeur.account.bank.code }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>N° de compte</div>
                                        <div>
                                            <nz-tag [nzColor]="'purple'">{{ professeur.account.account_number }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>RIP</div>
                                        <div>
                                            <nz-tag [nzColor]="'gold'">{{ professeur.account.rip }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="d-flex my-2 justify-content-between
                      align-items-center">
                                        <div>Clé</div>
                                        <div>
                                            <nz-tag [nzColor]="'blue'" [innerText]="professeur.account.key">
                                            </nz-tag>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nz-card>
                    </div>
                </div>
            </div>
            <div class="card border my-4">
                <div class="d-flex justify-content-between align-items-center
            card-header
            bg-color">
                    <div>
                        <h5 class="text-white">Informations sur les cours</h5>
                    </div>
                    <div>
                        <button nz-tooltip [nzTooltipTitle]="'Historique des paiements'" class="mx-3" *ngIf="can('voir payement') && isPayable()" mat-mini-fab color="primary" (click)="openPayementPage()" nzShape="circle" color="default">
                            <mat-icon>paid</mat-icon>
                        </button>
                        <button nz-tooltip [nzTooltipTitle]="'Ajoute un cour'" (click)="openAddCourseModal()" mat-mini-fab color="default">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <nz-table class="scroll-table" nzShowPagination [nzPageSize]="3" #basicTable [nzData]="professeur.courses">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th class="text-center"><b>Intitulé</b></th>
                                <th class="text-center"><b>Groupe</b></th>
                                <th class="text-center"><b>Service</b></th>
                                <th class="text-center"><b>Semestre</b></th>
                                <th class="text-center"><b>Classe</b></th>
                                <th class="text-center"><b>UE</b></th>
                                <th class="text-center"><b>Actions</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data">
                                <td class="text-center">{{ data.acronym }}</td>
                                <td class="text-center">{{ data.name }}</td>
                                <td class="text-center">
                                    <ng-container *ngIf="data.groupe_number == 0; else
                      groupeCommune">
                                        <nz-tag [nzColor]="'geekblue'"> COMMUN </nz-tag>
                                    </ng-container>
                                    <ng-template #groupeCommune>
                                        <nz-tag [nzColor]="'geekblue'">
                                            {{ data.groupe_number }}
                                        </nz-tag>
                                    </ng-template>
                                </td>
                                <td class="text-center">{{ data.service.name }}</td>
                                <td class="text-center">{{ data.semester.name }}</td>
                                <td class="text-center">{{ data.classe.name }}</td>
                                <td class="text-center">{{ data.ec.name }}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center">
                                        <div>
                                            <button nz-button nzType="primary" nzShape="circle" (click)="openAddHourModal(data)">
                                                <mat-icon>pending_actions</mat-icon>
                                            </button>
                                        </div>
                                        <div class="mx-2">
                                            <button (click)="openDeleteConf(data)" nz-button nzDanger nzType="primary" nzShape="circle">
                                                <i nz-icon nzType="delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </ng-container>
        <!-- SKELTON -->
        <ng-template *ngIf="!errorServer && dataLoad">
            <div class="row col-12">
                <nz-skeleton [nzParagraph]="{ rows: 1 }" [nzActive]="true"></nz-skeleton>
            </div>
            <div class="row justify-content-between align-items-top">
                <div class="col-xm-6 col-md-4 my-1">
                    <nz-card>
                        <nz-skeleton [nzActive]="true" [nzLoading]="!dataLoad" [nzAvatar]="true">
                        </nz-skeleton>
                    </nz-card>
                </div>
                <div class="col-xm-6 col-md-4 my-1">
                    <nz-card>
                        <nz-skeleton [nzActive]="true" [nzLoading]="!dataLoad">
                        </nz-skeleton>
                    </nz-card>
                </div>
                <div class="col-xm-3 col-md-4 my-1">
                    <nz-card>
                        <nz-skeleton [nzActive]="true" [nzLoading]="!dataLoad">
                        </nz-skeleton>
                    </nz-card>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <nz-skeleton [nzActive]="true"></nz-skeleton>
                </div>
            </div>
        </ng-template>
        <app-error-server *ngIf="errorServer"></app-error-server>
    </div>
</div>
<ng-template #loadData>
    <app-load></app-load>
</ng-template>

<!-- ADD HOURS MODAL -->
<nz-modal nzCentered="true" [(nzVisible)]="addHourModalVisible" nzTitle="Pointage des
  heurs de cours">
    <div *nzModalContent>
        <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="addHourForm" (ngSubmit)="submitAddHourForm()">
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="hours">Nombre d'heures</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le
              nombre d'heures est requi">
                            <input [(ngModel)]="hours" formControlName="hours" nz-input min="1" max="100" name="hours" type="number" id="hours" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="cdDate">Date</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [(ngModel)]="cdDate" formControlName="cdDate" nz-input name="cdDate" type="date" id="cdDate" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label>Professeur</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [disabled]="true" nz-input value="{{ professeur.first_name
                + '' + professeur.last_name }}" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label>Cours</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [disabled]="true" nz-input value="{{ selectedCourse.name
                }}" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-form>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="addHourModalClose()">
            Annuler
        </button>
        <button nz-button nzType="primary" (click)="addHour()" [disabled]="!addHourForm.valid" [nzLoading]="addHourLaod">
            Valider
        </button>
    </div>
</nz-modal>

<!-- ADD COURSE MODAL -->
<nz-modal [(nzVisible)]="addCourseModalVisible" nzTitle="Affectation
  des cours" [nzFooter]="addCourFootModal" [nzWidth]="'40em'">
    <div *nzModalContent>
        <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="addCourForm" (ngSubmit)="submitAddCourseForm()">
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="hours">Cours</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le
              cour requi">
                            <nz-select (ngModelChange)="currentModel($event)" nzPlaceHolder="Rechercher un professeur" nzAllowClear nzShowSearch nzServerSearch formControlName="course_id" (nzOnSearch)="onCourseSearch($event)">
                                <ng-container *ngFor="let o of courses">
                                    <nz-option *ngIf="!coursesLoad" [nzValue]="o.id" [nzLabel]="'#
                    ' + o.name + ' | ' + o.service.name">
                                    </nz-option>
                                </ng-container>
                                <nz-option *ngIf="coursesLoad" nzDisabled nzCustomContent>
                                    <i nz-icon nzType="loading" class="loading-icon"></i> Rechercher en cours...
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="cdDate">Code</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [disabled]="true" nz-input value="{{ selectedCourse.acronym
                }}" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label>Service</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [disabled]="true" nz-input value="{{
                selectedCourse.service.name }}" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label>Montant Horaire</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [disabled]="true" nz-input value="{{
                selectedCourse.service.amount }} (FCFA)" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label>Semestre</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [disabled]="true" nz-input value="{{
                selectedCourse.semester.name }}" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label>UE</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [disabled]="true" nz-input value="{{
                selectedCourse.ec.ue.name }}" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-form>
    </div>
    <ng-template #addCourFootModal>
        <button nz-button nzType="default" (click)="addCourseModalVisible= false">
            Annuler
        </button>
        <button nz-button nzType="primary" (click)="addCourseForProfessor()" [disabled]="!addCourForm.valid" [nzLoading]="addHourLaod">
            Valider
        </button>
    </ng-template>
</nz-modal>