<div *ngIf="!dataLoad; else loadData">
    <!-- TOP -->
    <div class="card card-body shadow-sm mb-3">
        <div class="d-flex justify-content-between align-items-center ">
            <div>
                <nz-page-header class="site-page-header" (nzBack)="onBack()" [nzBackIcon]="backTemp" nzTitle="Précedent"></nz-page-header>
            </div>
            <ng-template #backTemp>
                <button class="m-2" mat-mini-fab color="primary">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </ng-template>
        </div>
        <div *ngIf="!dataLoad && !errorServer" class="row justify-content-between align-items-top">
            <div class="col-xm-8 col-md-6 my-1">
                <div class="card body m-2 border raduis-sm">
                    <img class="" [src]="userProfilePath()" class="user-avatar card-img-top" alt="" />
                    <mat-progress-bar *ngIf="avatarLoad" [mode]="'indeterminate'" color="primary"></mat-progress-bar>
                    <div class="d-flex justify-content-center btn-icon">
                        <div>
                            <button mat-fab color="basic" class="shadow" (click)="image.click()">
                                <mat-icon>edit</mat-icon>
                                <form enctype="multipart/form-data">
                                    <input #image type="file" nz-input hidden (change)="onChange($event)" />
                                </form>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <nz-tabset>
                            <nz-tab nzTitle="Personnel">
                                <div class="mb-3">
                                    <nz-tag [nzColor]="'geekblue'">
                                        <i nz-icon nzType="audit" nzTheme="outline" class="mx-1"></i>{{ professeur.registration_number }}
                                    </nz-tag>
                                    {{ professeur.first_name }} {{ professeur.last_name }}
                                </div>
                                <div class="d-flex my-2 justify-content-between
                        align-items-center">
                                    <div>Email</div>
                                    <div>
                                        <nz-tag [nzColor]="'geekblue'">{{ professeur.email }}
                                        </nz-tag>
                                    </div>
                                </div>
                                <div class="d-flex my-2 justify-content-between
                        align-items-center">
                                    <div>Date de naissance</div>
                                    <div>
                                        <nz-tag [nzColor]="'lime'">{{ professeur.born_at | date: "d MMMM y" }}
                                        </nz-tag>
                                    </div>
                                </div>
                                <div class="d-flex my-2 justify-content-between
                        align-items-center">
                                    <div>Lieu de naissance</div>
                                    <div>
                                        <nz-tag [nzColor]="'orange'">{{ professeur.born_in }}
                                        </nz-tag>
                                    </div>
                                </div>
                            </nz-tab>
                            <nz-tab nzTitle="Professionel">
                                <div class="d-flex justify-content-between
                        align-items-center">
                                    <div>Département</div>
                                    <div>
                                        <nz-tag [nzColor]="'geekblue'">{{ professeur.departement.name }}
                                        </nz-tag>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between my-2
                        align-items-center">
                                    <div>Type</div>
                                    <div>
                                        <nz-tag [nzColor]="'geekblue'">{{ professeur.professor_type.name | uppercase }}
                                        </nz-tag>
                                    </div>
                                </div>

                                <div class="d-flex my-2 justify-content-between
                        align-items-center">
                                    <div>Status</div>
                                    <div>
                                        <nz-tag [nzColor]="'volcano'">{{ professeur.status }}
                                        </nz-tag>
                                    </div>
                                </div>
                                <div class="d-flex my-2 justify-content-between
                        align-items-center">
                                    <div>Métier</div>
                                    <div>
                                        <nz-tag [nzColor]="professeur.job == null ? 'red' : 'orange'" [innerText]="professeur.job ?? 'Non
                            définie'"></nz-tag>
                                    </div>
                                </div>
                                <div class="d-flex my-2 justify-content-between
                        align-items-center">
                                    <div>Dérnier Diplôme</div>
                                    <div>
                                        <nz-tag [nzColor]="professeur.last_degree == null ?
                            'red' :
                            'magenta'" [innerText]="professeur.last_degree ?? 'Non
                            définie'"></nz-tag>
                                    </div>
                                </div>
                                <div class="d-flex my-1 justify-content-between
                        align-items-center">
                                    <div>En fonction</div>
                                    <div>
                                        <nz-tag [nzColor]="professeur.is_active ? 'green' : 'red'" [innerText]="professeur.is_active ? 'OUI' : 'NON'"></nz-tag>
                                    </div>
                                </div>
                            </nz-tab>
                        </nz-tabset>
                        <div>
                            <button mat-fab color="basic" class="shadow" (click)="openAddProfModal()">
                          <mat-icon>edit</mat-icon>

                      </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xm-5 col-md-6 my-1">
                <nz-card class="border card">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <nz-alert nzType="info" nzMessage="Information du compte" nzShowIcon></nz-alert>
                            <br />
                            <div class="d-flex my-2 justify-content-between
                    align-items-center">
                                <div>Banque</div>
                                <div>
                                    <nz-tag [nzColor]="'lime'">{{ professeur.account.bank.name }}
                                    </nz-tag>
                                </div>
                            </div>
                            <div class="d-flex my-2 justify-content-between
                    align-items-center">
                                <div>Code de la banque</div>
                                <div>
                                    <nz-tag [nzColor]="'volcano'">{{ professeur.account.bank.code }}
                                    </nz-tag>
                                </div>
                            </div>
                            <div class="d-flex my-2 justify-content-between
                    align-items-center">
                                <div>N° de compte</div>
                                <div>
                                    <nz-tag [nzColor]="'purple'">{{ professeur.account.account_number }}
                                    </nz-tag>
                                </div>
                            </div>
                            <div class="d-flex my-2 justify-content-between
                    align-items-center">
                                <div>RIP</div>
                                <div>
                                    <nz-tag [nzColor]="'gold'">{{ professeur.account.rip }}
                                    </nz-tag>
                                </div>
                            </div>
                            <div class="d-flex my-2 justify-content-between
                    align-items-center">
                                <div>Clé</div>
                                <div>
                                    <nz-tag [nzColor]="'blue'" [innerText]="professeur.account.key">
                                    </nz-tag>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button mat-fab color="basic" class="shadow" (click)="openModalbank()">
                        <mat-icon>edit</mat-icon>

                    </button>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
    </div>
</div>
<ng-template #loadData>
    <app-load></app-load>
</ng-template>

<!-- Update prof -->
<nz-modal [(nzVisible)]="modifierleprofe" nzTitle="Informations personnel" [nzWidth]="'60em'">
    <div *nzModalContent>
        <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">


            <div class="row">
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="first_name">Prénom(s)</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.first_name" formControlName="first_name" nz-input name="first_name" type="text" id="first_name">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="last_name">Nom</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [(ngModel)]="professor.last_name" formControlName="last_name" nz-input name="last_name" type="text" id="last_name">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="cni">CNI</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le cni est requi">
                            <input [(ngModel)]="professor.cni" formControlName="cni" nz-input name="cni" type="text" id="cni">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzFor="born_in">Lieu de naissance</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Lieu de naissance est requi">
                            <input [(ngModel)]="professor.born_in" [placeholder]="'Lieu de naissance'" formControlName="born_in" nz-input name="born_in" type="text" id="born_in">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="born_at">Date de Naissance</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <nz-date-picker class="w-100" [(ngModel)]="professor.born_at" nzFormat="dd-MM-yyyy" name="born_at" id="born_at" formControlName="born_at"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="email">Adresse email</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.email" formControlName="email" nz-input name="email" type="email" nz-input id="email">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="email">Adresse email</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.email" formControlName="email" nz-input name="email" type="email" nz-input id="email">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="phone_number">N° téléphone</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [(ngModel)]="professor.phone_number" formControlName="phone_number" nz-input name="phone_number" type="text" id="phone_number">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="last_degree">Dernier Diplôme</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Ce champ est requi">
                            <input [(ngModel)]="professor.last_degree" formControlName="last_degree" nz-input name="last_degree" type="text" id="last_degree">
                        </nz-form-control>
                    </nz-form-item>
                </div>


            </div>

        </nz-form>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="modifierleprofe= false">
      Annuler
    </button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoad">Valider</button>

    </div>
</nz-modal>


<nz-modal [(nzVisible)]="modifierleprofe" nzTitle="Informations personnel" [nzWidth]="'60em'">
    <div *nzModalContent>
        <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">


            <div class="row">
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="first_name">Prénom(s)</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.first_name" formControlName="first_name" nz-input name="first_name" type="text" id="first_name">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="last_name">Nom</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [(ngModel)]="professor.last_name" formControlName="last_name" nz-input name="last_name" type="text" id="last_name">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="cni">CNI</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le cni est requi">
                            <input [(ngModel)]="professor.cni" formControlName="cni" nz-input name="cni" type="text" id="cni">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzFor="born_in">Lieu de naissance</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Lieu de naissance est requi">
                            <input [(ngModel)]="professor.born_in" [placeholder]="'Lieu de naissance'" formControlName="born_in" nz-input name="born_in" type="text" id="born_in">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="born_at">Date de Naissance</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <nz-date-picker class="w-100" [(ngModel)]="professor.born_at" nzFormat="dd-MM-yyyy" name="born_at" id="born_at" formControlName="born_at"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="email">Adresse email</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.email" formControlName="email" nz-input name="email" type="email" nz-input id="email">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="email">Adresse email</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.email" formControlName="email" nz-input name="email" type="email" nz-input id="email">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="phone_number">N° téléphone</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [(ngModel)]="professor.phone_number" formControlName="phone_number" nz-input name="phone_number" type="text" id="phone_number">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="last_degree">Dernier Diplôme</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Ce champ est requi">
                            <input [(ngModel)]="professor.last_degree" formControlName="last_degree" nz-input name="last_degree" type="text" id="last_degree">
                        </nz-form-control>
                    </nz-form-item>
                </div>


            </div>

        </nz-form>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="modifierleprofe= false">
    Annuler
  </button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoad">Valider</button>

    </div>

    <!--modal pour infos bancaires-->
</nz-modal>
<nz-modal [(nzVisible)]="modifierinfobank" nzTitle=" Informations Bancaires" [nzWidth]="'40em'">
    <div *nzModalContent>
        <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">


            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="account_number">N° de compte</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.account.account_number" formControlName="account_number" nz-input name="account_number" type="number" id="account_number">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="rip">RIP</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [(ngModel)]="professor.account.rip" formControlName="rip" nz-input name="rip" type="number" id="rip">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="key">Clé</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="La clé est requi">
                            <input [(ngModel)]="professor.account.key" formControlName="key" nz-input name="key" type="text" id="key">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="bank_id">Banque</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner la banque">
                            <nz-select [nzLoading]="isLoadData" formControlName="bank_id" [(ngModel)]="professor.account.bank_id">
                                <ng-container *ngFor="let o of banks">
                                    <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                                </ng-container>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

        </nz-form>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="modifierinfobank= false">
      Annuler
    </button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoad">Valider</button>

    </div>
</nz-modal>