@if (!dataLoad) {
    <div class="bg-white rounded-lg p-6 shadow-sm border border-gray-100 overflow-hidden">
        <!-- TOP -->
        <div class="flex justify-between items-center">
            <div>
                <nz-page-header class="site-page-header" (nzBack)="onBack()" [nzBackIcon]="backTemp" nzTitle="Precedent"></nz-page-header>
            </div>
            <ng-template #backTemp>
                <button class="m-2" mat-mini-fab color="primary">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </ng-template>
        </div>
        @if (!dataLoad && !errorServer) {
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-start">
                <div class="my-1">
                    <div class="bg-white rounded-lg m-2 border border-gray-100">
                        <img [src]="userProfilePath()" class="w-full mx-auto rounded-t-lg" alt="" />
                        @if (avatarLoad) {
                            <mat-progress-bar [mode]="'indeterminate'" color="primary"></mat-progress-bar>
                        }
                        <div class="flex justify-center absolute top-[5px] right-[5px]">
                            <div>
                                <button mat-fab color="basic" class="shadow-sm" (click)="image.click()">
                                    <mat-icon>edit</mat-icon>
                                    <form enctype="multipart/form-data">
                                        <input #image type="file" nz-input hidden (change)="onChange($event)" />
                                    </form>
                                </button>
                            </div>
                        </div>
                        <div class="p-6">
                            <nz-tabset>
                                <nz-tab nzTitle="Personnel">
                                    <div class="mb-3">
                                        <nz-tag [nzColor]="'geekblue'">
                                            <i nz-icon nzType="audit" nzTheme="outline" class="mx-1"></i>{{ professeur.registration_number }}
                                        </nz-tag>
                                        {{ professeur.first_name }} {{ professeur.last_name }}
                                    </div>
                                    <div class="flex my-2 justify-between items-center">
                                        <div>Email</div>
                                        <div>
                                            <nz-tag [nzColor]="'geekblue'">{{ professeur.email }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="flex my-2 justify-between items-center">
                                        <div>Date de naissance</div>
                                        <div>
                                            <nz-tag [nzColor]="'lime'">{{ professeur.born_at | date: "d MMMM y" }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="flex my-2 justify-between items-center">
                                        <div>Lieu de naissance</div>
                                        <div>
                                            <nz-tag [nzColor]="'orange'">{{ professeur.born_in }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                </nz-tab>
                                <nz-tab nzTitle="Professionel">
                                    <div class="flex justify-between items-center">
                                        <div>Departement</div>
                                        <div>
                                            <nz-tag [nzColor]="'geekblue'">{{ professeur.departement.name }}
                                            </nz-tag>
                                        </div>
                                    </div>

                                    <div class="flex justify-between my-2 items-center">
                                        <div>Type</div>
                                        <div>
                                            <nz-tag [nzColor]="'geekblue'">{{ professeur.professor_type.name | uppercase }}
                                            </nz-tag>
                                        </div>
                                    </div>

                                    <div class="flex my-2 justify-between items-center">
                                        <div>Status</div>
                                        <div>
                                            <nz-tag [nzColor]="'volcano'">{{ professeur.status }}
                                            </nz-tag>
                                        </div>
                                    </div>
                                    <div class="flex my-2 justify-between items-center">
                                        <div>Metier</div>
                                        <div>
                                            <nz-tag [nzColor]="professeur.job == null ? 'red' : 'orange'" [innerText]="professeur.job ?? 'Non
                            definie'"></nz-tag>
                                        </div>
                                    </div>
                                    <div class="flex my-2 justify-between items-center">
                                        <div>Dernier Diplome</div>
                                        <div>
                                            <nz-tag [nzColor]="professeur.last_degree == null ?
                            'red' :
                            'magenta'" [innerText]="professeur.last_degree ?? 'Non
                            definie'"></nz-tag>
                                        </div>
                                    </div>
                                    <div class="flex my-1 justify-between items-center">
                                        <div>En fonction</div>
                                        <div>
                                            <nz-tag [nzColor]="professeur.is_active ? 'green' : 'red'" [innerText]="professeur.is_active ? 'OUI' : 'NON'"></nz-tag>
                                        </div>
                                    </div>
                                </nz-tab>
                            </nz-tabset>
                            <div>
                                <button mat-fab color="basic" class="shadow-sm" (click)="openAddProfModal()">
                              <mat-icon>edit</mat-icon>
                          </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-1">
                    <nz-card class="border rounded-lg">
                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-12">
                                <nz-alert nzType="info" nzMessage="Information du compte" nzShowIcon></nz-alert>
                                <br />
                                <div class="flex my-2 justify-between items-center">
                                    <div>Banque</div>
                                    <div>
                                        <nz-tag [nzColor]="'lime'">{{ professeur.account.bank.name }}
                                        </nz-tag>
                                    </div>
                                </div>
                                <div class="flex my-2 justify-between items-center">
                                    <div>Code de la banque</div>
                                    <div>
                                        <nz-tag [nzColor]="'volcano'">{{ professeur.account.bank.code }}
                                        </nz-tag>
                                    </div>
                                </div>
                                <div class="flex my-2 justify-between items-center">
                                    <div>N de compte</div>
                                    <div>
                                        <nz-tag [nzColor]="'purple'">{{ professeur.account.account_number }}
                                        </nz-tag>
                                    </div>
                                </div>
                                <div class="flex my-2 justify-between items-center">
                                    <div>RIP</div>
                                    <div>
                                        <nz-tag [nzColor]="'gold'">{{ professeur.account.rip }}
                                        </nz-tag>
                                    </div>
                                </div>
                                <div class="flex my-2 justify-between items-center">
                                    <div>Cle</div>
                                    <div>
                                        <nz-tag [nzColor]="'blue'" [innerText]="professeur.account.key">
                                        </nz-tag>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button mat-fab color="basic" class="shadow-sm" (click)="openModalbank()">
                            <mat-icon>edit</mat-icon>
                        </button>
                            </div>
                        </div>
                    </nz-card>
                </div>
            </div>
        }
    </div>
} @else {
    <app-load></app-load>
}

<!-- Update prof -->
<nz-modal [(nzVisible)]="modifierleprofe" nzTitle="Informations personnel" [nzWidth]="'60em'">
    <div *nzModalContent>
        <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="first_name">Prenom(s)</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.first_name" formControlName="first_name" nz-input name="first_name" type="text" id="first_name">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="last_name">Nom</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [(ngModel)]="professor.last_name" formControlName="last_name" nz-input name="last_name" type="text" id="last_name">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="cni">CNI</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le cni est requi">
                            <input [(ngModel)]="professor.cni" formControlName="cni" nz-input name="cni" type="text" id="cni">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                <div>
                    <nz-form-item>
                        <nz-form-label nzFor="born_in">Lieu de naissance</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Lieu de naissance est requi">
                            <input [(ngModel)]="professor.born_in" [placeholder]="'Lieu de naissance'" formControlName="born_in" nz-input name="born_in" type="text" id="born_in">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="born_at">Date de Naissance</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <nz-date-picker class="w-full" [(ngModel)]="professor.born_at" nzFormat="dd-MM-yyyy" name="born_at" id="born_at" formControlName="born_at"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="email">Adresse email</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.email" formControlName="email" nz-input name="email" type="email" nz-input id="email">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="email">Adresse email</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.email" formControlName="email" nz-input name="email" type="email" nz-input id="email">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="phone_number">N telephone</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [(ngModel)]="professor.phone_number" formControlName="phone_number" nz-input name="phone_number" type="text" id="phone_number">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="last_degree">Dernier Diplome</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Ce champ est requi">
                            <input [(ngModel)]="professor.last_degree" formControlName="last_degree" nz-input name="last_degree" type="text" id="last_degree">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

        </nz-form>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="modifierleprofe= false">
      Annuler
    </button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoad">Valider</button>
    </div>
</nz-modal>

<!--modal pour infos bancaires-->
<nz-modal [(nzVisible)]="modifierinfobank" nzTitle=" Informations Bancaires" [nzWidth]="'40em'">
    <div *nzModalContent>
        <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="account_number">N de compte</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Le nom est requi">
                            <input [(ngModel)]="professor.account.account_number" formControlName="account_number" nz-input name="account_number" type="number" id="account_number">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="rip">RIP</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <input [(ngModel)]="professor.account.rip" formControlName="rip" nz-input name="rip" type="number" id="rip">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="key">Cle</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="La cle est requi">
                            <input [(ngModel)]="professor.account.key" formControlName="key" nz-input name="key" type="text" id="key">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="bank_id">Banque</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Selectionner la banque">
                            <nz-select [nzLoading]="isLoadData" formControlName="bank_id" [(ngModel)]="professor.account.bank_id">
                                @for (o of banks; track o) {
                                    <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                                }
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

        </nz-form>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="modifierinfobank= false">
      Annuler
    </button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoad">Valider</button>
    </div>
</nz-modal>
