<div class="p-4">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">Nom du batiment</nz-form-label>
      <nz-form-control nzErrorTip="Le nom est requis">
        <input [(ngModel)]="batiment.name" formControlName="name" nz-input nzSize="large" placeholder="Nom du batiment" class="!rounded-lg" />
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div *nzModalFooter>
  <button nz-button (click)="destroyModal(null)">Annuler</button>
  <button nz-button nzType="primary" (click)="edit()" [disabled]="!validateForm.valid" [nzLoading]="isLoad" class="!rounded-lg">Modifier</button>
</div>
