/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/data
/composer.json.l8.bak
/composer.lock.l8.bak
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
